# COGS 108 - Data Checkpoint

# Names

- Kyle Moore
- Harshini Ramaswamy
- Christina Ryder
- Jennifer Vo

<a id='research_question'></a>
# Research Question

Is there a relationship between rates of rape and transportation, public safety, and environment & housing spending by large cities with populations over 250,000 in the U.S from 1977-2015?

# Dataset(s)

- Dataset Name: Crime in Context, 1975-2015
- Link to the dataset: https://www.kaggle.com/marshallproject/crime-rates
- Number of observations (original dataset): 2829

This dataset is a collection of 40 years of data (1975-2015) on four major types of violent crimes in police jurisdictions with populations 250,000 and greater in the U.S. as of when the data were published in 2016.

- Dataset Name: Complete Dataset for Fiscally Standardized Cities
- Link to the dataset: https://www.lincolninst.edu/research-data/data-toolkits/fiscally-standardized-cities/search-database
- Number of observations (original dataset): 8938

This dataset is a collection of 40 years (1977-2017) worth of information from the U.S. Census Bureau. It lists major metropolitan cities and provides information on population totals, city spending by department, and revenue by department. 

We will combine these two data sets based on matching year and city_name so that the crime data and expenditure data for one city in one year will be its own observation.

# Setup

In [3]:
# Package allows us to assess, clean, and merge data
import pandas as pd

# Data Cleaning

Describe your data cleaning steps here.

In [4]:
# Read in Crime data
crime = pd.read_csv('report.csv')
crime.shape

(2829, 15)

In [5]:
# Read in Fiscal data
fiscal = pd.read_csv('Data-Table 1.csv')
fiscal.shape

(8938, 663)

In [6]:
# Crime table
crime.head()

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10

In [7]:
# Fiscal table
fiscal.head()

,year,city_name,city_types,id_city,city_population,cpi,rev_total_city,rev_general_city,intergovt_rev_city,igr_federal_city,...,cash_other_offsets,cash_other_bonds,cash_other_other,county_name,id_county,county_population,relationship_city_school,enrollment,districts_in_city,consolidated_govt
0,1977,AK: Anchorage,core,22002001,174500,4.044885,5342.24,4956.92,2148.77,279.32,...,178.51,787.93,691.32,NaN,NaN,NaN,4.0,36855.0,NaN,1.0
1,1978,AK: Anchorage,core,22002001,177000,3.759509,5948.99,5490.05,2468.11,403.24,...,187.53,1395.82,1158.01,NaN,NaN,NaN,4.0,36804.0,NaN,1.0
2,1979,AK: Anchorage,core,22002001,179600,3.376308,6158.68,5746.64,2573.34,496.97,...,249.03,1812.04,1314.62,NaN,NaN,NaN,4.0,36757.0,NaN,1.0
3,1980,AK: Anchorage,core,22002001,178800,2.974757,5654.93,5210.77,2313.62,371.46,...,986.73,1330.72,1572.66,NaN,NaN,NaN,4.0,36008.0,NaN,1.0
4,1981,AK: Anchorage,core,22002001,174431,2.696590,6192.83,5736.81,2771.43,338.76,...,977.32,1549.51,1669.55,NaN,NaN,NaN,4.0,34557.0,NaN,1.0

In [8]:
# Select the relevant columns to analyze
crime = crime[['report_year','agency_jurisdiction', 'population', 'violent_crimes', 'rapes','crimes_percapita','rapes_percapita']]
crime.head()

,report_year,agency_jurisdiction,population,violent_crimes,rapes,crimes_percapita,rapes_percapita
0,1975,"Albuquerque, NM",286238.0,2383.0,181.0,832.52,63.23
1,1975,"Arlington, TX",112478.0,278.0,28.0,247.16,24.89
2,1975,"Atlanta, GA",490584.0,8033.0,443.0,1637.44,90.30
3,1975,"Aurora, CO",116656.0,611.0,44.0,523.76,37.72
4,1975,"Austin, TX",300400.0,1215.0,190.0,404.46,63.25

In [9]:
# Check for columns with missing values
crime.isna().any()

report_year            False
agency_jurisdiction    False
population              True
violent_crimes          True
rapes                   True
crimes_percapita        True
rapes_percapita         True
dtype: bool

In [10]:
# Check which observations have missing values for the 'rapes' variable
crime[crime['rapes'].isnull()]

,report_year,agency_jurisdiction,population,violent_crimes,rapes,crimes_percapita,rapes_percapita
30,1975,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
68,1975,United States,NaN,1039710.0,NaN,487.8,NaN
99,1976,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
137,1976,United States,NaN,1004210.0,NaN,467.8,NaN
168,1977,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
206,1977,United States,NaN,1029580.0,NaN,475.9,NaN
237,1978,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
275,1978,United States,NaN,1085550.0,NaN,497.8,NaN
306,1979,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
344,1979,United States,NaN,1208030.0,NaN,548.9,NaN
375,1980,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
413,1980,United States,NaN,1344520.0,NaN,596.6,NaN
444,1981,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
482,1981,United States,NaN,1361820.0,NaN,593.5,NaN
513,1982,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
551,1982,United States,NaN,1322390.0,NaN,570.8,NaN
582,1983,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
620,1983,United States,NaN,1258087.0,NaN,538.1,NaN
651,1984,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
689,1984,United States,NaN,1273282.0,NaN,539.9,NaN
720,1985,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
758,1985,United States,NaN,1327767.0,NaN,558.1,NaN
789,1986,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
827,1986,United States,NaN,1489169.0,NaN,620.1,NaN
858,1987,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
896,1987,United States,NaN,1483999.0,NaN,612.5,NaN
927,1988,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
959,1988,"Tampa, FL",293732.0,NaN,NaN,NaN,NaN
965,1988,United States,NaN,1566221.0,NaN,640.6,NaN
996,1989,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1529,1997,"Cincinnati, OH",360875.0,NaN,NaN,NaN,NaN
1548,1997,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
1586,1997,United States,NaN,1636096.0,NaN,611.0,NaN
1598,1998,"Cincinnati, OH",344828.0,NaN,NaN,NaN,NaN
1617,1998,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
1655,1998,United States,NaN,1533887.0,NaN,567.6,NaN
1686,1999,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
1724,1999,United States,NaN,1426044.0,NaN,523.0,NaN
1755,2000,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
1793,2000,United States,NaN,1425486.0,NaN,506.5,NaN
1824,2001,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
1862,2001,United States,NaN,1439480.0,NaN,504.5,NaN
1893,2002,"Louisville, KY",NaN,NaN,NaN,NaN,NaN
1931,2002,United States,NaN,1423677.0,NaN,494.4,NaN
2000,2003,United States,NaN,1383676.0,NaN,475.8,NaN
2069,2004,United States,NaN,1360088.0,NaN,463.2,NaN
2138,2005,United States,NaN,1390745.0,NaN,469.0,NaN
2207,2006,United States,NaN,1435123.0,NaN,479.3,NaN
2276,2007,United States,NaN,1422970.0,NaN,471.8,NaN
2345,2008,United States,NaN,1394461.0,NaN,458.6,NaN
2414,2009,United States,NaN,1325896.0,NaN,431.9,NaN
2483,2010,United States,NaN,1251248.0,NaN,404.5,NaN
2552,2011,United States,NaN,1206031.0,NaN,387.1,NaN
2621,2012,United States,NaN,1214464.0,NaN,386.9,NaN
2690,2013,United States,NaN,1168298.0,NaN,369.1,NaN
2759,2014,United States,NaN,1153022.0,NaN,361.6,NaN
2765,2015,"Baltimore County, MD",828871.0,NaN,NaN,NaN,NaN
2772,2015,"Cleveland, OH",388655.0,NaN,NaN,NaN,NaN
2810,2015,"Portland, OR",615672.0,NaN,NaN,NaN,NaN
2828,2015,United States,NaN,1197704.0,NaN,372.6,NaN

In [11]:
# Drop observations with missing data for 'population', 'rapes', 'rapes_percapita'
crime = crime.dropna(subset = ['population', 'rapes', 'rapes_percapita'])
crime

,report_year,agency_jurisdiction,population,violent_crimes,rapes,crimes_percapita,rapes_percapita
0,1975,"Albuquerque, NM",286238.0,2383.0,181.0,832.52,63.23
1,1975,"Arlington, TX",112478.0,278.0,28.0,247.16,24.89
2,1975,"Atlanta, GA",490584.0,8033.0,443.0,1637.44,90.30
3,1975,"Aurora, CO",116656.0,611.0,44.0,523.76,37.72
4,1975,"Austin, TX",300400.0,1215.0,190.0,404.46,63.25
5,1975,"Baltimore County, MD",642154.0,1259.0,137.0,196.06,21.33
6,1975,"Baltimore, MD",864100.0,16086.0,463.0,1861.59,53.58
7,1975,"Boston, MA",616120.0,11386.0,453.0,1848.02,73.52
8,1975,"Buffalo, NY",422276.0,3350.0,192.0,793.32,45.47
9,1975,"Charlotte, NC",262103.0,1937.0,71.0,739.02,27.09
10,1975,"Chicago, IL",3150000.0,37160.0,1657.0,1179.68,52.60
11,1975,"Cincinnati, OH",433367.0,3578.0,261.0,825.63,60.23
12,1975,"Cleveland, OH",659931.0,10403.0,491.0,1576.38,74.40
13,1975,"Columbus, OH",572797.0,3980.0,416.0,694.84,72.63
14,1975,"Dallas, TX",864665.0,7655.0,547.0,885.31,63.26
15,1975,"Denver, CO",508140.0,4960.0,480.0,976.11,94.46
16,1975,"Detroit, MI",1432444.0,30387.0,1424.0,2121.34,99.41
17,1975,"El Paso, TX",369000.0,1618.0,122.0,438.48,33.06
18,1975,"Fairfax County, VA",487905.0,805.0,104.0,164.99,21.32
19,1975,"Fort Worth, TX",381275.0,1939.0,169.0,508.56,44.32
20,1975,"Fresno, CA",176500.0,1141.0,84.0,646.46,47.59
21,1975,"Honolulu, HI",705262.0,1596.0,169.0,226.30,23.96
22,1975,"Houston, TX",1372342.0,8924.0,588.0,650.28,42.85
23,1975,"Indianapolis, IN",503411.0,4655.0,351.0,924.69,69.72
24,1975,"Jacksonville, FL",542792.0,4579.0,316.0,843.60,58.22
25,1975,"Kansas City, MO",489094.0,6072.0,302.0,1241.48,61.75
26,1975,"Las Vegas, NV",249186.0,2594.0,169.0,1040.99,67.82
27,1975,"Long Beach, CA",340758.0,3189.0,169.0,935.85,49.60
28,1975,"Los Angeles County, CA",1022888.0,9792.0,471.0,957.29,46.05
29,1975,"Los Angeles, CA",2729878.0,30405.0,1768.0,1113.79,64.76
...,...,...,...,...,...,...,...
2797,2015,"Montgomery County, MD",1009176.0,1964.0,269.0,194.61,26.66
2798,2015,"Nashville, TN",658029.0,7245.0,507.0,1101.02,77.05
2799,2015,"Nassau County, NY",1061175.0,1318.0,68.0,124.20,6.41
2800,2015,"New Orleans, LA",393447.0,3736.0,409.0,949.56,103.95
2801,2015,"New York City, NY",8550861.0,50088.0,2244.0,585.77,26.24
2802,2015,"Newark, NJ",279110.0,3072.0,104.0,1100.64,37.26
2803,2015,"Oakland, CA",419481.0,6051.0,285.0,1442.50,67.94
2804,2015,"Oklahoma City, OK",630621.0,4828.0,480.0,765.59,76.12
2805,2015,"Omaha, NE",452252.0,2329.0,174.0,514.98,38.47
2806,2015,"Orlando, FL",268438.0,2525.0,182.0,940.63,67.80
2807,2015,"Philadelphia, PA",1567810.0,16132.0,1322.0,1028.95,84.32
2808,2015,"Phoenix, AZ",1559744.0,9261.0,1016.0,593.75,65.14
2809,2015,"Pittsburgh, PA",306870.0,2167.0,82.0,706.16,26.72
2811,2015,"Prince George's County, MD",685191.0,3256.0,248.0,475.20,36.19
2812,2015,"Raleigh, NC",438363.0,1676.0,108.0,382.33,24.64
2813,2015,"Sacramento, CA",489717.0,3611.0,105.0,737.36,21.44
2814,2015,"Salt Lake City, UT",191992.0,1642.0,291.0,855.24,151.57
2815,2015,"San Antonio, TX",1463586.0,8594.0,1049.0,587.19,71.67
2816,2015,"San Diego, CA",1400467.0,5582.0,566.0,398.58,40.42
2817,2015,"San Francisco, CA",863782.0,6710.0,344.0,776.82,39.82
2818,2015,"San Jose, CA",1031458.0,3400.0,375.0,329.63,36.36
2819,2015,"Seattle, WA",683700.0,4093.0,144.0,598.65,21.06
2820,2015,"St. Louis, MO",317095.0,5762.0,263.0,1817.12,82.94
2821,2015,"Suffolk County, NY",1341453.0,1675.0,79.0,124.86,5.89
2822,2015,"Tampa, FL",364383.0,2298.0,77.0,630.66,21.13
2823,2015,"Tucson, AZ",529675.0,3472.0,422.0,655.50,79.67
2824,2015,"Tulsa, OK",401520.0,3628.0,365.0,903.57,90.90
2825,2015,"Virginia Beach, VA",452797.0,626.0,103.0,138.25,22.75
2826,2015,"Washington, DC",672228.0,8084.0,494.0,1202.57,73.49
2827,2015,"Wichita, KS",389824.0,3839.0,349.0,984.80,89.53

In [12]:
# Check for columns with missing values
crime.isna().any()

report_year            False
agency_jurisdiction    False
population             False
violent_crimes          True
rapes                  False
crimes_percapita        True
rapes_percapita        False
dtype: bool

In [13]:
# Remove "county" data
crime = crime[crime['agency_jurisdiction'].str.contains("County")==False]
crime

,report_year,agency_jurisdiction,population,violent_crimes,rapes,crimes_percapita,rapes_percapita
0,1975,"Albuquerque, NM",286238.0,2383.0,181.0,832.52,63.23
1,1975,"Arlington, TX",112478.0,278.0,28.0,247.16,24.89
2,1975,"Atlanta, GA",490584.0,8033.0,443.0,1637.44,90.30
3,1975,"Aurora, CO",116656.0,611.0,44.0,523.76,37.72
4,1975,"Austin, TX",300400.0,1215.0,190.0,404.46,63.25
6,1975,"Baltimore, MD",864100.0,16086.0,463.0,1861.59,53.58
7,1975,"Boston, MA",616120.0,11386.0,453.0,1848.02,73.52
8,1975,"Buffalo, NY",422276.0,3350.0,192.0,793.32,45.47
9,1975,"Charlotte, NC",262103.0,1937.0,71.0,739.02,27.09
10,1975,"Chicago, IL",3150000.0,37160.0,1657.0,1179.68,52.60
11,1975,"Cincinnati, OH",433367.0,3578.0,261.0,825.63,60.23
12,1975,"Cleveland, OH",659931.0,10403.0,491.0,1576.38,74.40
13,1975,"Columbus, OH",572797.0,3980.0,416.0,694.84,72.63
14,1975,"Dallas, TX",864665.0,7655.0,547.0,885.31,63.26
15,1975,"Denver, CO",508140.0,4960.0,480.0,976.11,94.46
16,1975,"Detroit, MI",1432444.0,30387.0,1424.0,2121.34,99.41
17,1975,"El Paso, TX",369000.0,1618.0,122.0,438.48,33.06
19,1975,"Fort Worth, TX",381275.0,1939.0,169.0,508.56,44.32
20,1975,"Fresno, CA",176500.0,1141.0,84.0,646.46,47.59
21,1975,"Honolulu, HI",705262.0,1596.0,169.0,226.30,23.96
22,1975,"Houston, TX",1372342.0,8924.0,588.0,650.28,42.85
23,1975,"Indianapolis, IN",503411.0,4655.0,351.0,924.69,69.72
24,1975,"Jacksonville, FL",542792.0,4579.0,316.0,843.60,58.22
25,1975,"Kansas City, MO",489094.0,6072.0,302.0,1241.48,61.75
26,1975,"Las Vegas, NV",249186.0,2594.0,169.0,1040.99,67.82
27,1975,"Long Beach, CA",340758.0,3189.0,169.0,935.85,49.60
29,1975,"Los Angeles, CA",2729878.0,30405.0,1768.0,1113.79,64.76
31,1975,"Memphis, TN",646483.0,5429.0,521.0,839.77,80.59
32,1975,"Mesa, AZ",113176.0,267.0,22.0,235.92,19.44
34,1975,"Miami, FL",350742.0,6213.0,178.0,1771.39,50.75
...,...,...,...,...,...,...,...
2792,2015,"Mesa, AZ",471034.0,1972.0,241.0,418.65,51.16
2794,2015,"Miami, FL",437969.0,4473.0,80.0,1021.31,18.27
2795,2015,"Milwaukee, WI",600400.0,9583.0,436.0,1596.10,72.62
2796,2015,"Minneapolis, MN",413479.0,4395.0,407.0,1062.93,98.43
2798,2015,"Nashville, TN",658029.0,7245.0,507.0,1101.02,77.05
2800,2015,"New Orleans, LA",393447.0,3736.0,409.0,949.56,103.95
2801,2015,"New York City, NY",8550861.0,50088.0,2244.0,585.77,26.24
2802,2015,"Newark, NJ",279110.0,3072.0,104.0,1100.64,37.26
2803,2015,"Oakland, CA",419481.0,6051.0,285.0,1442.50,67.94
2804,2015,"Oklahoma City, OK",630621.0,4828.0,480.0,765.59,76.12
2805,2015,"Omaha, NE",452252.0,2329.0,174.0,514.98,38.47
2806,2015,"Orlando, FL",268438.0,2525.0,182.0,940.63,67.80
2807,2015,"Philadelphia, PA",1567810.0,16132.0,1322.0,1028.95,84.32
2808,2015,"Phoenix, AZ",1559744.0,9261.0,1016.0,593.75,65.14
2809,2015,"Pittsburgh, PA",306870.0,2167.0,82.0,706.16,26.72
2812,2015,"Raleigh, NC",438363.0,1676.0,108.0,382.33,24.64
2813,2015,"Sacramento, CA",489717.0,3611.0,105.0,737.36,21.44
2814,2015,"Salt Lake City, UT",191992.0,1642.0,291.0,855.24,151.57
2815,2015,"San Antonio, TX",1463586.0,8594.0,1049.0,587.19,71.67
2816,2015,"San Diego, CA",1400467.0,5582.0,566.0,398.58,40.42
2817,2015,"San Francisco, CA",863782.0,6710.0,344.0,776.82,39.82
2818,2015,"San Jose, CA",1031458.0,3400.0,375.0,329.63,36.36
2819,2015,"Seattle, WA",683700.0,4093.0,144.0,598.65,21.06
2820,2015,"St. Louis, MO",317095.0,5762.0,263.0,1817.12,82.94
2822,2015,"Tampa, FL",364383.0,2298.0,77.0,630.66,21.13
2823,2015,"Tucson, AZ",529675.0,3472.0,422.0,655.50,79.67
2824,2015,"Tulsa, OK",401520.0,3628.0,365.0,903.57,90.90
2825,2015,"Virginia Beach, VA",452797.0,626.0,103.0,138.25,22.75
2826,2015,"Washington, DC",672228.0,8084.0,494.0,1202.57,73.49
2827,2015,"Wichita, KS",389824.0,3839.0,349.0,984.80,89.53

In [14]:
# Remove irrelevant years, 1975 & 1976
crime = crime[crime['report_year'] > 1976]
crime

,report_year,agency_jurisdiction,population,violent_crimes,rapes,crimes_percapita,rapes_percapita
138,1977,"Albuquerque, NM",292341.0,2390.0,207.0,817.54,70.81
139,1977,"Arlington, TX",112994.0,389.0,34.0,344.27,30.09
140,1977,"Atlanta, GA",440300.0,7595.0,510.0,1724.96,115.83
141,1977,"Aurora, CO",137200.0,585.0,42.0,426.38,30.61
142,1977,"Austin, TX",321900.0,1260.0,187.0,391.43,58.09
144,1977,"Baltimore, MD",827494.0,14283.0,499.0,1726.05,60.30
145,1977,"Boston, MA",619321.0,9422.0,408.0,1521.34,65.88
146,1977,"Buffalo, NY",415352.0,3945.0,236.0,949.80,56.82
147,1977,"Charlotte, NC",262314.0,2245.0,119.0,855.84,45.37
148,1977,"Chicago, IL",3086806.0,28873.0,1227.0,935.37,39.75
149,1977,"Cincinnati, OH",423671.0,3439.0,291.0,811.71,68.69
150,1977,"Cleveland, OH",638793.0,9421.0,508.0,1474.81,79.52
151,1977,"Columbus, OH",568800.0,3238.0,331.0,569.27,58.19
152,1977,"Dallas, TX",873700.0,8899.0,637.0,1018.54,72.91
153,1977,"Denver, CO",520200.0,5032.0,466.0,967.32,89.58
154,1977,"Detroit, MI",1316352.0,24070.0,1277.0,1828.54,97.01
155,1977,"El Paso, TX",386000.0,1560.0,107.0,404.15,27.72
157,1977,"Fort Worth, TX",383028.0,2561.0,208.0,668.62,54.30
158,1977,"Fresno, CA",182629.0,1673.0,71.0,916.06,38.88
159,1977,"Honolulu, HI",721983.0,1660.0,176.0,229.92,24.38
160,1977,"Houston, TX",1613303.0,9304.0,965.0,576.71,59.82
161,1977,"Indianapolis, IN",509000.0,3785.0,346.0,743.61,67.98
162,1977,"Jacksonville, FL",528698.0,4171.0,299.0,788.92,56.55
163,1977,"Kansas City, MO",492055.0,5616.0,325.0,1141.34,66.05
164,1977,"Las Vegas, NV",279791.0,2729.0,183.0,975.37,65.41
165,1977,"Long Beach, CA",346662.0,3391.0,226.0,978.19,65.19
167,1977,"Los Angeles, CA",2785393.0,33676.0,2339.0,1209.02,83.97
169,1977,"Memphis, TN",667150.0,5231.0,581.0,784.08,87.09
170,1977,"Mesa, AZ",116400.0,385.0,34.0,330.76,29.21
172,1977,"Miami, FL",333713.0,5346.0,178.0,1601.98,53.34
...,...,...,...,...,...,...,...
2792,2015,"Mesa, AZ",471034.0,1972.0,241.0,418.65,51.16
2794,2015,"Miami, FL",437969.0,4473.0,80.0,1021.31,18.27
2795,2015,"Milwaukee, WI",600400.0,9583.0,436.0,1596.10,72.62
2796,2015,"Minneapolis, MN",413479.0,4395.0,407.0,1062.93,98.43
2798,2015,"Nashville, TN",658029.0,7245.0,507.0,1101.02,77.05
2800,2015,"New Orleans, LA",393447.0,3736.0,409.0,949.56,103.95
2801,2015,"New York City, NY",8550861.0,50088.0,2244.0,585.77,26.24
2802,2015,"Newark, NJ",279110.0,3072.0,104.0,1100.64,37.26
2803,2015,"Oakland, CA",419481.0,6051.0,285.0,1442.50,67.94
2804,2015,"Oklahoma City, OK",630621.0,4828.0,480.0,765.59,76.12
2805,2015,"Omaha, NE",452252.0,2329.0,174.0,514.98,38.47
2806,2015,"Orlando, FL",268438.0,2525.0,182.0,940.63,67.80
2807,2015,"Philadelphia, PA",1567810.0,16132.0,1322.0,1028.95,84.32
2808,2015,"Phoenix, AZ",1559744.0,9261.0,1016.0,593.75,65.14
2809,2015,"Pittsburgh, PA",306870.0,2167.0,82.0,706.16,26.72
2812,2015,"Raleigh, NC",438363.0,1676.0,108.0,382.33,24.64
2813,2015,"Sacramento, CA",489717.0,3611.0,105.0,737.36,21.44
2814,2015,"Salt Lake City, UT",191992.0,1642.0,291.0,855.24,151.57
2815,2015,"San Antonio, TX",1463586.0,8594.0,1049.0,587.19,71.67
2816,2015,"San Diego, CA",1400467.0,5582.0,566.0,398.58,40.42
2817,2015,"San Francisco, CA",863782.0,6710.0,344.0,776.82,39.82
2818,2015,"San Jose, CA",1031458.0,3400.0,375.0,329.63,36.36
2819,2015,"Seattle, WA",683700.0,4093.0,144.0,598.65,21.06
2820,2015,"St. Louis, MO",317095.0,5762.0,263.0,1817.12,82.94
2822,2015,"Tampa, FL",364383.0,2298.0,77.0,630.66,21.13
2823,2015,"Tucson, AZ",529675.0,3472.0,422.0,655.50,79.67
2824,2015,"Tulsa, OK",401520.0,3628.0,365.0,903.57,90.90
2825,2015,"Virginia Beach, VA",452797.0,626.0,103.0,138.25,22.75
2826,2015,"Washington, DC",672228.0,8084.0,494.0,1202.57,73.49
2827,2015,"Wichita, KS",389824.0,3839.0,349.0,984.80,89.53

In [15]:
# Rename columns
crime = crime.rename(columns={'report_year': 'year', 'agency_jurisdiction' : 'city_name'}).reset_index(drop=True)
crime

,year,city_name,population,violent_crimes,rapes,crimes_percapita,rapes_percapita
0,1977,"Albuquerque, NM",292341.0,2390.0,207.0,817.54,70.81
1,1977,"Arlington, TX",112994.0,389.0,34.0,344.27,30.09
2,1977,"Atlanta, GA",440300.0,7595.0,510.0,1724.96,115.83
3,1977,"Aurora, CO",137200.0,585.0,42.0,426.38,30.61
4,1977,"Austin, TX",321900.0,1260.0,187.0,391.43,58.09
5,1977,"Baltimore, MD",827494.0,14283.0,499.0,1726.05,60.30
6,1977,"Boston, MA",619321.0,9422.0,408.0,1521.34,65.88
7,1977,"Buffalo, NY",415352.0,3945.0,236.0,949.80,56.82
8,1977,"Charlotte, NC",262314.0,2245.0,119.0,855.84,45.37
9,1977,"Chicago, IL",3086806.0,28873.0,1227.0,935.37,39.75
10,1977,"Cincinnati, OH",423671.0,3439.0,291.0,811.71,68.69
11,1977,"Cleveland, OH",638793.0,9421.0,508.0,1474.81,79.52
12,1977,"Columbus, OH",568800.0,3238.0,331.0,569.27,58.19
13,1977,"Dallas, TX",873700.0,8899.0,637.0,1018.54,72.91
14,1977,"Denver, CO",520200.0,5032.0,466.0,967.32,89.58
15,1977,"Detroit, MI",1316352.0,24070.0,1277.0,1828.54,97.01
16,1977,"El Paso, TX",386000.0,1560.0,107.0,404.15,27.72
17,1977,"Fort Worth, TX",383028.0,2561.0,208.0,668.62,54.30
18,1977,"Fresno, CA",182629.0,1673.0,71.0,916.06,38.88
19,1977,"Honolulu, HI",721983.0,1660.0,176.0,229.92,24.38
20,1977,"Houston, TX",1613303.0,9304.0,965.0,576.71,59.82
21,1977,"Indianapolis, IN",509000.0,3785.0,346.0,743.61,67.98
22,1977,"Jacksonville, FL",528698.0,4171.0,299.0,788.92,56.55
23,1977,"Kansas City, MO",492055.0,5616.0,325.0,1141.34,66.05
24,1977,"Las Vegas, NV",279791.0,2729.0,183.0,975.37,65.41
25,1977,"Long Beach, CA",346662.0,3391.0,226.0,978.19,65.19
26,1977,"Los Angeles, CA",2785393.0,33676.0,2339.0,1209.02,83.97
27,1977,"Memphis, TN",667150.0,5231.0,581.0,784.08,87.09
28,1977,"Mesa, AZ",116400.0,385.0,34.0,330.76,29.21
29,1977,"Miami, FL",333713.0,5346.0,178.0,1601.98,53.34
...,...,...,...,...,...,...,...
2279,2015,"Mesa, AZ",471034.0,1972.0,241.0,418.65,51.16
2280,2015,"Miami, FL",437969.0,4473.0,80.0,1021.31,18.27
2281,2015,"Milwaukee, WI",600400.0,9583.0,436.0,1596.10,72.62
2282,2015,"Minneapolis, MN",413479.0,4395.0,407.0,1062.93,98.43
2283,2015,"Nashville, TN",658029.0,7245.0,507.0,1101.02,77.05
2284,2015,"New Orleans, LA",393447.0,3736.0,409.0,949.56,103.95
2285,2015,"New York City, NY",8550861.0,50088.0,2244.0,585.77,26.24
2286,2015,"Newark, NJ",279110.0,3072.0,104.0,1100.64,37.26
2287,2015,"Oakland, CA",419481.0,6051.0,285.0,1442.50,67.94
2288,2015,"Oklahoma City, OK",630621.0,4828.0,480.0,765.59,76.12
2289,2015,"Omaha, NE",452252.0,2329.0,174.0,514.98,38.47
2290,2015,"Orlando, FL",268438.0,2525.0,182.0,940.63,67.80
2291,2015,"Philadelphia, PA",1567810.0,16132.0,1322.0,1028.95,84.32
2292,2015,"Phoenix, AZ",1559744.0,9261.0,1016.0,593.75,65.14
2293,2015,"Pittsburgh, PA",306870.0,2167.0,82.0,706.16,26.72
2294,2015,"Raleigh, NC",438363.0,1676.0,108.0,382.33,24.64
2295,2015,"Sacramento, CA",489717.0,3611.0,105.0,737.36,21.44
2296,2015,"Salt Lake City, UT",191992.0,1642.0,291.0,855.24,151.57
2297,2015,"San Antonio, TX",1463586.0,8594.0,1049.0,587.19,71.67
2298,2015,"San Diego, CA",1400467.0,5582.0,566.0,398.58,40.42
2299,2015,"San Francisco, CA",863782.0,6710.0,344.0,776.82,39.82
2300,2015,"San Jose, CA",1031458.0,3400.0,375.0,329.63,36.36
2301,2015,"Seattle, WA",683700.0,4093.0,144.0,598.65,21.06
2302,2015,"St. Louis, MO",317095.0,5762.0,263.0,1817.12,82.94
2303,2015,"Tampa, FL",364383.0,2298.0,77.0,630.66,21.13
2304,2015,"Tucson, AZ",529675.0,3472.0,422.0,655.50,79.67
2305,2015,"Tulsa, OK",401520.0,3628.0,365.0,903.57,90.90
2306,2015,"Virginia Beach, VA",452797.0,626.0,103.0,138.25,22.75
2307,2015,"Washington, DC",672228.0,8084.0,494.0,1202.57,73.49
2308,2015,"Wichita, KS",389824.0,3839.0,349.0,984.80,89.53

In [16]:
# Select the relevant columns to analyze
fiscal = fiscal[['year','city_name', 'city_population', 'spending_direct_city', 'spending_general_city', 'transportation_city', 'public_safety_city', 'envir_housing_city']]
fiscal.head()

,year,city_name,city_population,spending_direct_city,spending_general_city,transportation_city,public_safety_city,envir_housing_city
0,1977,AK: Anchorage,174500,5793.87,5224.23,570.43,495.14,528.15
1,1978,AK: Anchorage,177000,6350.79,5702.88,334.91,473.27,769.76
2,1979,AK: Anchorage,179600,6107.41,5371.24,380.14,469.54,452.89
3,1980,AK: Anchorage,178800,5874.90,5088.42,292.07,551.01,442.04
4,1981,AK: Anchorage,174431,5807.52,5029.16,365.58,525.90,433.31

In [17]:
fiscal.shape

(8938, 8)

In [18]:
# Check for columns with missing values
fiscal.isna().any()

year                     False
city_name                False
city_population          False
spending_direct_city     False
spending_general_city    False
transportation_city      False
public_safety_city       False
envir_housing_city       False
dtype: bool

In [19]:
# Remove irrelevant years, 2016 & 2017
fiscal = fiscal[fiscal['year'] < 2016]
fiscal

,year,city_name,city_population,spending_direct_city,spending_general_city,transportation_city,public_safety_city,envir_housing_city
0,1977,AK: Anchorage,174500,5793.87,5224.23,570.43,495.14,528.15
1,1978,AK: Anchorage,177000,6350.79,5702.88,334.91,473.27,769.76
2,1979,AK: Anchorage,179600,6107.41,5371.24,380.14,469.54,452.89
3,1980,AK: Anchorage,178800,5874.90,5088.42,292.07,551.01,442.04
4,1981,AK: Anchorage,174431,5807.52,5029.16,365.58,525.90,433.31
5,1982,AK: Anchorage,180969,6278.79,5588.40,367.66,597.25,434.59
6,1983,AK: Anchorage,195216,9109.81,8272.46,983.08,754.81,1054.57
7,1984,AK: Anchorage,211028,8988.22,7862.68,859.16,679.29,922.61
8,1985,AK: Anchorage,220254,8865.82,7060.49,630.22,678.68,591.77
9,1986,AK: Anchorage,226848,8079.12,6714.78,563.85,610.15,590.44
10,1987,AK: Anchorage,229965,8739.25,7278.08,885.80,677.47,755.71
11,1988,AK: Anchorage,225170,7145.01,6137.51,725.91,606.22,728.59
12,1989,AK: Anchorage,224371,6616.15,5631.77,537.36,550.26,580.06
13,1990,AK: Anchorage,225374,6115.69,5145.15,400.52,484.91,389.72
14,1991,AK: Anchorage,227614,6117.73,5202.76,422.99,490.74,380.80
15,1992,AK: Anchorage,235137,6451.86,5192.87,427.85,474.98,394.34
16,1993,AK: Anchorage,245623,6605.47,5450.11,522.07,521.32,505.35
17,1994,AK: Anchorage,250163,5826.95,5023.30,355.21,460.29,305.79
18,1995,AK: Anchorage,252278,5820.67,5081.15,371.75,393.25,291.62
19,1996,AK: Anchorage,251981,5475.58,4868.66,329.19,400.39,259.06
20,1997,AK: Anchorage,250710,5463.31,4816.14,397.01,416.28,274.60
21,1998,AK: Anchorage,252700,5474.16,4683.54,387.31,433.58,259.18
22,1999,AK: Anchorage,257232,6144.91,5487.36,807.52,553.42,375.82
23,2000,AK: Anchorage,259348,5933.36,5331.29,784.01,550.13,369.85
24,2001,AK: Anchorage,260816,5849.90,5280.76,934.98,815.60,412.74
25,2002,AK: Anchorage,264274,6047.58,5374.25,1044.71,943.84,429.18
26,2003,AK: Anchorage,268229,4954.25,4348.18,287.39,572.07,275.83
27,2004,AK: Anchorage,270568,5387.61,4630.14,387.61,578.01,354.11
28,2005,AK: Anchorage,274484,5192.27,4393.12,366.63,596.25,381.41
29,2006,AK: Anchorage,276494,5399.68,4500.37,434.31,620.96,348.25
...,...,...,...,...,...,...,...,...
8906,1986,WY: Cheyenne,50248,2556.70,1672.34,182.18,401.70,413.76
8907,1987,WY: Cheyenne,51128,2406.66,1438.74,198.94,280.73,346.74
8908,1988,WY: Cheyenne,51581,2957.49,1373.66,215.47,258.66,436.17
8909,1989,WY: Cheyenne,51163,2047.75,1370.37,136.04,298.70,489.14
8910,1990,WY: Cheyenne,50555,1560.71,1206.54,227.33,278.04,355.72
8911,1991,WY: Cheyenne,50175,1580.48,1194.10,263.89,294.05,353.38
8912,1992,WY: Cheyenne,50495,2627.37,2270.37,441.60,592.90,717.56
8913,1993,WY: Cheyenne,51551,1247.79,1029.89,241.33,261.08,241.96
8914,1994,WY: Cheyenne,52336,1302.52,1092.93,330.19,268.41,260.54
8915,1995,WY: Cheyenne,52947,1293.84,1085.91,244.72,277.80,268.84
8916,1996,WY: Cheyenne,53000,1629.51,1137.86,220.99,299.48,318.58
8917,1997,WY: Cheyenne,53130,1509.84,1142.70,253.07,287.36,311.57
8918,1998,WY: Cheyenne,52974,1605.30,1241.56,278.26,286.94,414.18
8919,1999,WY: Cheyenne,53038,1484.98,1142.11,192.88,294.08,353.47
8920,2000,WY: Cheyenne,53093,1694.87,1344.56,301.14,291.11,361.52
8921,2001,WY: Cheyenne,53474,1693.82,1410.15,362.73,315.99,341.97
8922,2002,WY: Cheyenne,53934,1709.45,1485.79,424.32,342.54,326.90
8923,2003,WY: Cheyenne,54332,1941.23,1731.04,452.54,352.35,373.35
8924,2004,WY: Cheyenne,54852,2145.14,1948.98,475.90,359.16,414.32
8925,2005,WY: Cheyenne,55693,1859.15,1662.07,350.10,420.18,455.38
8926,2006,WY: Cheyenne,55845,1858.70,1664.90,441.15,374.90,405.23
8927,2007,WY: Cheyenne,56468,2191.37,1768.70,370.67,412.71,567.09
8928,2008,WY: Cheyenne,56958,2046.27,1633.10,331.78,431.51,452.13
8929,2009,WY: Cheyenne,57829,2583.35,2155.12,729.92,457.27,515.77
8930,2010,WY: Cheyenne,58658,2029.76,1842.32,406.01,424.48,526.37
8931,2011,WY: Cheyenne,59772,1604.49,1412.03,202.33,414.83,376.68
8932,2012,WY: Cheyenne,60159,1729.22,1502.97,248.44,423.06,430.29
8933,2013,WY: Cheyenne,61420,1819.90,1542.82,248.15,445.64,515.00
8934,2014,WY: Cheyenne,62104,2452.62,1707.56,365.16,496.17,483.38
8935,2015,WY: Cheyenne,62259,2500.81,2108.71,355.58,597.91,717.28

In [20]:
# Slice city_name to remove unmatching state identification
# e.g. ", NM"
crime['city_name'] = crime['city_name'].str.slice(stop=-4)
crime.head()

,year,city_name,population,violent_crimes,rapes,crimes_percapita,rapes_percapita
0,1977,Albuquerque,292341.0,2390.0,207.0,817.54,70.81
1,1977,Arlington,112994.0,389.0,34.0,344.27,30.09
2,1977,Atlanta,440300.0,7595.0,510.0,1724.96,115.83
3,1977,Aurora,137200.0,585.0,42.0,426.38,30.61
4,1977,Austin,321900.0,1260.0,187.0,391.43,58.09

In [21]:
# Slice city_name to remove unmatching state identification
# e.g. "AK: "
fiscal['city_name'] = fiscal['city_name'].str.slice(start=4)
fiscal.head()

,year,city_name,city_population,spending_direct_city,spending_general_city,transportation_city,public_safety_city,envir_housing_city
0,1977,Anchorage,174500,5793.87,5224.23,570.43,495.14,528.15
1,1978,Anchorage,177000,6350.79,5702.88,334.91,473.27,769.76
2,1979,Anchorage,179600,6107.41,5371.24,380.14,469.54,452.89
3,1980,Anchorage,178800,5874.90,5088.42,292.07,551.01,442.04
4,1981,Anchorage,174431,5807.52,5029.16,365.58,525.90,433.31

In [22]:
# Inner merge based on observations with matching year and city_name
merged_df = crime.merge(fiscal, how='inner', on=('year', 'city_name'))
merged_df

,year,city_name,population,violent_crimes,rapes,crimes_percapita,rapes_percapita,city_population,spending_direct_city,spending_general_city,transportation_city,public_safety_city,envir_housing_city
0,1977,Albuquerque,292341.0,2390.0,207.0,817.54,70.81,298857,1621.48,1332.47,155.69,365.35,333.59
1,1977,Arlington,112994.0,389.0,34.0,344.27,30.09,126561,951.16,682.70,104.25,147.94,127.68
2,1977,Atlanta,440300.0,7595.0,510.0,1724.96,115.83,432676,2305.35,1909.13,419.71,422.03,383.15
3,1977,Aurora,137200.0,585.0,42.0,426.38,30.61,117414,1282.81,1052.78,182.76,266.74,213.21
4,1977,Aurora,137200.0,585.0,42.0,426.38,30.61,79105,1274.19,1017.80,251.27,371.89,99.35
5,1977,Austin,321900.0,1260.0,187.0,391.43,58.09,323480,3977.11,1634.83,114.04,239.83,455.32
6,1977,Baltimore,827494.0,14283.0,499.0,1726.05,60.30,837600,5526.87,5268.75,679.73,612.27,669.95
7,1977,Boston,619321.0,9422.0,408.0,1521.34,65.88,612545,4849.22,4776.35,132.04,817.66,441.70
8,1977,Buffalo,415352.0,3945.0,236.0,949.80,56.82,403978,3777.89,3711.61,130.09,443.40,1003.00
9,1977,Charlotte,262314.0,2245.0,119.0,855.84,45.37,281612,1542.65,1343.16,266.63,287.05,349.60
10,1977,Chicago,3086806.0,28873.0,1227.0,935.37,39.75,3169601,1704.86,1478.01,171.15,561.28,194.18
11,1977,Cincinnati,423671.0,3439.0,291.0,811.71,68.69,411946,4680.03,4395.69,203.48,570.81,738.49
12,1977,Cleveland,638793.0,9421.0,508.0,1474.81,79.52,638045,2132.92,1790.53,442.05,571.96,282.46
13,1977,Columbus,568800.0,3238.0,331.0,569.27,58.19,168400,904.07,783.01,100.45,255.98,152.12
14,1977,Columbus,568800.0,3238.0,331.0,569.27,58.19,564241,1453.47,1180.18,132.55,365.00,305.75
15,1977,Dallas,873700.0,8899.0,637.0,1018.54,72.91,880252,1421.41,1141.13,117.62,321.10,257.85
16,1977,Denver,520200.0,5032.0,466.0,967.32,89.58,501100,3255.08,2815.99,295.23,516.34,501.23
17,1977,Detroit,1316352.0,24070.0,1277.0,1828.54,97.01,1318573,2684.87,2062.11,149.02,537.44,581.82
18,1977,El Paso,386000.0,1560.0,107.0,404.15,27.72,392070,825.44,720.13,81.86,175.20,209.16
19,1977,Fresno,182629.0,1673.0,71.0,916.06,38.88,197507,1639.24,1333.49,286.10,367.65,425.96
20,1977,Houston,1613303.0,9304.0,965.0,576.71,59.82,1437073,1298.96,1067.02,149.30,339.67,261.44
21,1977,Indianapolis,509000.0,3785.0,346.0,743.61,67.98,778000,1679.93,1538.27,210.56,330.75,274.00
22,1977,Jacksonville,528698.0,4171.0,299.0,788.92,56.55,560500,3165.21,1574.45,169.18,309.01,477.65
23,1977,Kansas City,492055.0,5616.0,325.0,1141.34,66.05,164059,1412.86,1378.51,157.35,307.70,215.04
24,1977,Kansas City,492055.0,5616.0,325.0,1141.34,66.05,469576,2025.54,1830.48,277.39,461.15,439.74
25,1977,Las Vegas,279791.0,2729.0,183.0,975.37,65.41,146865,624.50,624.50,73.15,199.51,149.44
26,1977,Long Beach,346662.0,3391.0,226.0,978.19,65.19,356207,2515.32,2043.10,278.90,567.54,464.97
27,1977,Los Angeles,2785393.0,33676.0,2339.0,1209.02,83.97,2869691,2398.86,1259.32,200.61,476.41,206.11
28,1977,Memphis,667150.0,5231.0,581.0,784.08,87.09,631132,3914.57,2210.69,131.24,392.53,411.11
29,1977,Mesa,116400.0,385.0,34.0,330.76,29.21,110794,1423.34,984.11,220.22,249.50,171.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239,2015,Los Angeles,3962726.0,25156.0,2209.0,634.82,55.74,3913260,4572.07,2536.47,753.44,695.65,405.54
2240,2015,Louisville,680550.0,4300.0,205.0,631.84,30.12,761973,1783.42,1402.60,198.54,401.03,162.83
2241,2015,Memphis,657936.0,11449.0,530.0,1740.14,80.55,655936,4815.87,1598.23,46.54,626.90,390.43
2242,2015,Mesa,471034.0,1972.0,241.0,418.65,51.16,473390,1738.06,1333.39,128.10,495.49,336.05
2243,2015,Miami,437969.0,4473.0,80.0,1021.31,18.27,429365,2359.13,1830.93,116.68,743.71,360.74
2244,2015,Milwaukee,600400.0,9583.0,436.0,1596.10,72.62,600743,2675.32,1956.73,349.76,686.92,199.93
2245,2015,Minneapolis,413479.0,4395.0,407.0,1062.93,98.43,407122,2843.86,2690.12,500.79,631.32,1007.78
2246,2015,Nashville,658029.0,7245.0,507.0,1101.02,77.05,670180,6598.54,4124.80,147.27,626.70,667.52
2247,2015,New Orleans,393447.0,3736.0,409.0,949.56,103.95,383930,4983.61,4527.02,391.47,918.52,1675.43
2248,2015,Oakland,419481.0,6051.0,285.0,1442.50,67.94,413156,4154.76,4007.06,884.98,1053.47,516.40
2249,2015,Omaha,452252.0,2329.0,174.0,514.98,38.47,461386,1571.95,1352.37,167.81,447.90,444.00
2250,2015,Orlando,268438.0,2525.0,182.0,940.63,67.80,262507,2719.82,2659.28,141.05,1003.25,926.16
2251,2015,Philadelphia,1567810.0,16132.0,1322.0,1028.95,84.32,1565604,5147.60,4035.00,340.62,843.38,655.27
2252,2015,Phoenix,1559744.0,9261.0,1016.0,593.75,65.14,1556552,2026.66,1532.52,345.96,501.51,356.34
2253,2015,Pittsburgh,306870.0,2167.0,82.0,706.16,26.72,306092,2259.23,1928.66,109.90,463.74,186.38
2254,2015,Raleigh,438363.0,1676.0,108.0,382.33,24.64,439347,1781.26,1341.24,77.32,463.33,485.36
2255,2015,Sacramento,489717.0,3611.0,105.0,737.36,21.44,483006,2211.71,1793.27,274.68,550.40,492.64
2256,2015,Salt Lake City,191992.0,1642.0,291.0,855.24,151.57,191398,2678.60,2401.12,1134.23,497.50,291.57
2257,2015,San Antonio,1463586.0,8594.0,1049.0,587.19,71.67,1435839,3497.69,1449.99,142.86,418.42,449.96
2258,2015,San Diego,1400467.0,5582.0,566.0,398.58,40.42,1376725,2425.65,1744.49,170.49,421.31,721.48
2259,2015,San Francisco,863782.0,6710.0,344.0,776.82,39.82,851116,13203.79,9084.59,1408.96,1152.62,959.74
2260,2015,San Jose,1031458.0,3400.0,375.0,329.63,36.36,1014418,1876.38,1497.40,167.00,423.00,477.69
2261,2015,Seattle,683700.0,4093.0,144.0,598.65,21.06,670925,4594.70,2583.50,487.09,597.92,828.58
2262,2015,St. Louis,317095.0,5762.0,263.0,1817.12,82.94,317395,3761.60,3137.09,493.65,1003.56,176.24
2263,2015,Tampa,364383.0,2298.0,77.0,630.66,21.13,358754,2598.54,1982.91,183.39,668.76,710.70
2264,2015,Tucson,529675.0,3472.0,422.0,655.50,79.67,534870,2056.08,1373.44,189.65,387.09,433.57
2265,2015,Tulsa,401520.0,3628.0,365.0,903.57,90.90,400162,2192.55,1770.19,412.48,448.24,449.37
2266,2015,Virginia Beach,452797.0,626.0,103.0,138.25,22.75,448913,4404.94,4255.16,403.12,461.51,725.60
2267,2015,Washington,672228.0,8084.0,494.0,1202.57,73.49,662513,20088.24,19338.37,775.73,1665.67,2510.56
2268,2015,Wichita,389824.0,3839.0,349.0,984.80,89.53,388465,1947.33,1526.00,458.05,337.28,209.00

In [33]:
#Rename population columns with respect to the dataset they originated from
merged_df = merged_df.rename(columns={'city_population':'fiscal_population', 'population':'crime_population'})
merged_df

,year,city_name,crime_population,violent_crimes,rapes,crimes_percapita,rapes_percapita,fiscal_population,spending_direct_city,spending_general_city,transportation_city,public_safety_city,envir_housing_city
0,1977,Albuquerque,292341.0,2390.0,207.0,817.54,70.81,298857,1621.48,1332.47,155.69,365.35,333.59
1,1977,Arlington,112994.0,389.0,34.0,344.27,30.09,126561,951.16,682.70,104.25,147.94,127.68
2,1977,Atlanta,440300.0,7595.0,510.0,1724.96,115.83,432676,2305.35,1909.13,419.71,422.03,383.15
3,1977,Aurora,137200.0,585.0,42.0,426.38,30.61,117414,1282.81,1052.78,182.76,266.74,213.21
4,1977,Aurora,137200.0,585.0,42.0,426.38,30.61,79105,1274.19,1017.80,251.27,371.89,99.35
5,1977,Austin,321900.0,1260.0,187.0,391.43,58.09,323480,3977.11,1634.83,114.04,239.83,455.32
6,1977,Baltimore,827494.0,14283.0,499.0,1726.05,60.30,837600,5526.87,5268.75,679.73,612.27,669.95
7,1977,Boston,619321.0,9422.0,408.0,1521.34,65.88,612545,4849.22,4776.35,132.04,817.66,441.70
8,1977,Buffalo,415352.0,3945.0,236.0,949.80,56.82,403978,3777.89,3711.61,130.09,443.40,1003.00
9,1977,Charlotte,262314.0,2245.0,119.0,855.84,45.37,281612,1542.65,1343.16,266.63,287.05,349.60
10,1977,Chicago,3086806.0,28873.0,1227.0,935.37,39.75,3169601,1704.86,1478.01,171.15,561.28,194.18
11,1977,Cincinnati,423671.0,3439.0,291.0,811.71,68.69,411946,4680.03,4395.69,203.48,570.81,738.49
12,1977,Cleveland,638793.0,9421.0,508.0,1474.81,79.52,638045,2132.92,1790.53,442.05,571.96,282.46
13,1977,Columbus,568800.0,3238.0,331.0,569.27,58.19,168400,904.07,783.01,100.45,255.98,152.12
14,1977,Columbus,568800.0,3238.0,331.0,569.27,58.19,564241,1453.47,1180.18,132.55,365.00,305.75
15,1977,Dallas,873700.0,8899.0,637.0,1018.54,72.91,880252,1421.41,1141.13,117.62,321.10,257.85
16,1977,Denver,520200.0,5032.0,466.0,967.32,89.58,501100,3255.08,2815.99,295.23,516.34,501.23
17,1977,Detroit,1316352.0,24070.0,1277.0,1828.54,97.01,1318573,2684.87,2062.11,149.02,537.44,581.82
18,1977,El Paso,386000.0,1560.0,107.0,404.15,27.72,392070,825.44,720.13,81.86,175.20,209.16
19,1977,Fresno,182629.0,1673.0,71.0,916.06,38.88,197507,1639.24,1333.49,286.10,367.65,425.96
20,1977,Houston,1613303.0,9304.0,965.0,576.71,59.82,1437073,1298.96,1067.02,149.30,339.67,261.44
21,1977,Indianapolis,509000.0,3785.0,346.0,743.61,67.98,778000,1679.93,1538.27,210.56,330.75,274.00
22,1977,Jacksonville,528698.0,4171.0,299.0,788.92,56.55,560500,3165.21,1574.45,169.18,309.01,477.65
23,1977,Kansas City,492055.0,5616.0,325.0,1141.34,66.05,164059,1412.86,1378.51,157.35,307.70,215.04
24,1977,Kansas City,492055.0,5616.0,325.0,1141.34,66.05,469576,2025.54,1830.48,277.39,461.15,439.74
25,1977,Las Vegas,279791.0,2729.0,183.0,975.37,65.41,146865,624.50,624.50,73.15,199.51,149.44
26,1977,Long Beach,346662.0,3391.0,226.0,978.19,65.19,356207,2515.32,2043.10,278.90,567.54,464.97
27,1977,Los Angeles,2785393.0,33676.0,2339.0,1209.02,83.97,2869691,2398.86,1259.32,200.61,476.41,206.11
28,1977,Memphis,667150.0,5231.0,581.0,784.08,87.09,631132,3914.57,2210.69,131.24,392.53,411.11
29,1977,Mesa,116400.0,385.0,34.0,330.76,29.21,110794,1423.34,984.11,220.22,249.50,171.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239,2015,Los Angeles,3962726.0,25156.0,2209.0,634.82,55.74,3913260,4572.07,2536.47,753.44,695.65,405.54
2240,2015,Louisville,680550.0,4300.0,205.0,631.84,30.12,761973,1783.42,1402.60,198.54,401.03,162.83
2241,2015,Memphis,657936.0,11449.0,530.0,1740.14,80.55,655936,4815.87,1598.23,46.54,626.90,390.43
2242,2015,Mesa,471034.0,1972.0,241.0,418.65,51.16,473390,1738.06,1333.39,128.10,495.49,336.05
2243,2015,Miami,437969.0,4473.0,80.0,1021.31,18.27,429365,2359.13,1830.93,116.68,743.71,360.74
2244,2015,Milwaukee,600400.0,9583.0,436.0,1596.10,72.62,600743,2675.32,1956.73,349.76,686.92,199.93
2245,2015,Minneapolis,413479.0,4395.0,407.0,1062.93,98.43,407122,2843.86,2690.12,500.79,631.32,1007.78
2246,2015,Nashville,658029.0,7245.0,507.0,1101.02,77.05,670180,6598.54,4124.80,147.27,626.70,667.52
2247,2015,New Orleans,393447.0,3736.0,409.0,949.56,103.95,383930,4983.61,4527.02,391.47,918.52,1675.43
2248,2015,Oakland,419481.0,6051.0,285.0,1442.50,67.94,413156,4154.76,4007.06,884.98,1053.47,516.40
2249,2015,Omaha,452252.0,2329.0,174.0,514.98,38.47,461386,1571.95,1352.37,167.81,447.90,444.00
2250,2015,Orlando,268438.0,2525.0,182.0,940.63,67.80,262507,2719.82,2659.28,141.05,1003.25,926.16
2251,2015,Philadelphia,1567810.0,16132.0,1322.0,1028.95,84.32,1565604,5147.60,4035.00,340.62,843.38,655.27
2252,2015,Phoenix,1559744.0,9261.0,1016.0,593.75,65.14,1556552,2026.66,1532.52,345.96,501.51,356.34
2253,2015,Pittsburgh,306870.0,2167.0,82.0,706.16,26.72,306092,2259.23,1928.66,109.90,463.74,186.38
2254,2015,Raleigh,438363.0,1676.0,108.0,382.33,24.64,439347,1781.26,1341.24,77.32,463.33,485.36
2255,2015,Sacramento,489717.0,3611.0,105.0,737.36,21.44,483006,2211.71,1793.27,274.68,550.40,492.64
2256,2015,Salt Lake City,191992.0,1642.0,291.0,855.24,151.57,191398,2678.60,2401.12,1134.23,497.50,291.57
2257,2015,San Antonio,1463586.0,8594.0,1049.0,587.19,71.67,1435839,3497.69,1449.99,142.86,418.42,449.96
2258,2015,San Diego,1400467.0,5582.0,566.0,398.58,40.42,1376725,2425.65,1744.49,170.49,421.31,721.48
2259,2015,San Francisco,863782.0,6710.0,344.0,776.82,39.82,851116,13203.79,9084.59,1408.96,1152.62,959.74
2260,2015,San Jose,1031458.0,3400.0,375.0,329.63,36.36,1014418,1876.38,1497.40,167.00,423.00,477.69
2261,2015,Seattle,683700.0,4093.0,144.0,598.65,21.06,670925,4594.70,2583.50,487.09,597.92,828.58
2262,2015,St. Louis,317095.0,5762.0,263.0,1817.12,82.94,317395,3761.60,3137.09,493.65,1003.56,176.24
2263,2015,Tampa,364383.0,2298.0,77.0,630.66,21.13,358754,2598.54,1982.91,183.39,668.76,710.70
2264,2015,Tucson,529675.0,3472.0,422.0,655.50,79.67,534870,2056.08,1373.44,189.65,387.09,433.57
2265,2015,Tulsa,401520.0,3628.0,365.0,903.57,90.90,400162,2192.55,1770.19,412.48,448.24,449.37
2266,2015,Virginia Beach,452797.0,626.0,103.0,138.25,22.75,448913,4404.94,4255.16,403.12,461.51,725.60
2267,2015,Washington,672228.0,8084.0,494.0,1202.57,73.49,662513,20088.24,19338.37,775.73,1665.67,2510.56
2268,2015,Wichita,389824.0,3839.0,349.0,984.80,89.53,388465,1947.33,1526.00,458.05,337.28,209.00

**How 'clean' is the data?**
- The data is in a usable, tabular format (i.e. observations in rows, variables in columns). Observations have been reported in a standardized way and column headings are informative and appropriate. 

**What did you have to do to get the data into a usable format? (If you did nothing, how did you determine there was nothing to do?)**
- We did not have to get the data into a usable format. Both datasets already had observations organized in rows and variables in columns in a tabular format. The column names were also relatively short and readable, and appropriate for understanding the data organized under each column so no changes had to be made to the column names. We also checked the type of observations within the same column(e.g. Int, boolean) and they were all consistent. Additionally, the information within each column was already reported in a standardized way with no varying units(e.g. as a total or as a proportion). 

**What pre-processing steps that were required for your methods (for example, checking data distributions and performing any transformations that may be required)**
- We filtered observations related to the variables of interest(city names, years, spending allocated for department of transportation, rape rates, population) from both datasets. Both datasets also included data from different time periods, so we excluded any data before 1977 and after 2015 in both datasets. Additionally, the datasets stored the city names differently(e.g. Anchorage, AK for the crime dataset vs. AK: Anchorage for the fiscal data set) so we standardized the city names in both datasets by slicing the state abbreviations and just including the city names before merging the two datasets. We also selectively kept the cities that were reported about in both datasets. We checked for any missing values related to the current variables we are studying and excluded cities where there was no data for population totals, rape case totals, and transportation spending. We kept variables such as crimes per capita, rapes per capita, general and direct spending, public safety spending, and environmental and housing spending to potentially include in our analysis later on.